<div class="text-2xl font-bold mt-10">
  Jobs Index
</div>
<div class="mt-4 border rounded shadow-lg p-4 bg-white">
  <div class="w-full bg-white border-t border-b md:border border-gray-400 scrolling-touch shadow-lg overflow-x-auto lg:overflow-hidden lg:rounded-lg">
    <table class="w-full mb-2 border-collapse relative">
      <thead class="bg-gray-200">
      <tr>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          Ref Number
        </th>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          Name
        </th>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          Customer
        </th>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          Status
        </th>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          edit
        </th>
        <th class="py-3 px-3 bg-grey-100 font-bold uppercase text-sm border-b">
          view
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
        <td class="py-3 px-3 border-b font-bold text-center">
          halo
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>