@import "bootstrap";
@import "navbar";
@import "bootstrap-datepicker";

.print-job-state-0 {
  color: lightslategray;
}

.print-job-state-1 {
  color: orange;
}

.print-job-state-2 {
  color: green;
}